@import url('reset.css');

body {
	background-color: #FFF;
	font-family: Arial, Verdana, sans-serif;	
}

h1,h2,p {
	margin: 0 0 15px 0;
}

h1 {
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
	color: #000;
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	color: #000;
	padding: 0;
}

p, li {
	color: #444;
	font-size: 14px;
	line-height: 18px;
}

strong {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin: 0 0 0 30px;
	color: #5E8CCC;
}

a {
	color: #5E8CCC;
}

a:hover {
	color: #000;
}

.logo {
	float: left;
}

.donate {
	width: 167px;
	border: none;
}

.but {
	background-color: #5E8CCC;
	border-left: 1px solid #8BACDA;
	border-top: 1px solid #8BACDA;
	border-bottom: 1px solid #375176;
	border-right: 1px solid #375176;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding: 3px 5px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 23px;
}

#top-section-holder {
	width: 100%;
	height: 162px;
	background: url(../sitepix/structural/top-section-bg.png) no-repeat center top;
	background-color: #5593D7;
}

#top-section {
	width: 960px;
	height: 162px;
	margin: 0 auto;
	position: relative;
}

#nav {
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	position: absolute;
	bottom: 0;
}

#nav li {
	float: left;
	display: inline;
}

#nav a {
	display: block;
	text-indent: -9999px;
	float: left;
	height: 35px;
}

#nav a:hover {
	background-position: 0 -35px;
}

#nav a.active {
	background-position: 0 -70px;
}

#nav a#home {
	width: 53px;
	background-image: url(../sitepix/nav/home.gif);
	background-repeat: no-repeat;
}

#nav a#about {
	width: 148px;
	background-image: url(../sitepix/nav/about.gif);
	background-repeat: no-repeat;
}

#nav a#fab {
	width: 84px;
	background-image: url(../sitepix/nav/fab-lab.gif);
	background-repeat: no-repeat;
}

#nav a#events {
	width: 76px;
	background-image: url(../sitepix/nav/events.gif);
	background-repeat: no-repeat;
}

#nav a#learn {
	width: 135px;
	background-image: url(../sitepix/nav/learning.gif);
	background-repeat: no-repeat;
}

#nav a#global {
	width: 133px;
	background-image: url(../sitepix/nav/global.gif);
	background-repeat: no-repeat;
}

#nav a#idea {
	width: 152px;
	background-image: url(../sitepix/nav/idea.gif);
	background-repeat: no-repeat;
}

#nav a#invol {
	width: 111px;
	background-image: url(../sitepix/nav/involved.gif);
	background-repeat: no-repeat;
}

#nav a#contact {
	width: 68px;
	background-image: url(../sitepix/nav/contact.gif);
	background-repeat: no-repeat;
}


#main {
	width: 960px;
	margin: 25px  auto 0 auto;
}

#text-area {
	width: 570px;
	float: left;
	margin: 0 0 0 10px;
}

#picture {
	width: 350px;
	float: right;
	margin: 50px 0 0 0;
}

/*------------------------ homepage layout----------------------*/

#welcome {
	float: right;
	width: 290px;
	margin: 40px 0 0 0;
}

#welcome p {
	font-size: 16px;
	margin: 15px 0;
}

.welcome {
	float: left;
}

#info-boxes {
	width: 960px;
	background: url(../sitepix/images/cloud-bg.png) no-repeat left top;
	float: left;
	padding: 35px 0 0 0;
	margin: 20px 0 20px 0;
}

#info-boxes li {
	float: left;
	display: inline;
	margin: 0 10px;
	width: 220px;
}

#info-boxes h2 {
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 10px 0
}

#info-boxes img {
	border-top: 2px solid #000;
}

#info-boxes p {
	font-size: 12px;
	margin: 5px 0 10px 0;
}

/*------------------------ Fab Lab  layout----------------------*/

#local {
	width: 940px;
	float: left;
	clear: both;
	background: url(../sitepix/images/cloud-bg.png) no-repeat left top;
	padding: 30px 10px;
}

.solutions {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

.solutions li{
	width: 400px;
	margin: 15px 0 0 0;
}

.solutions li.left {
	float: left;
}

.solutions li.right {
	float: right;
}

.solutions li img {
	border-top: 2px solid #000;
}

.solutions li h2 {
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 7px 0
}

/*------------------------ contact page layout----------------------*/

#contact-form {
	width: 500px;
	float: left;
}

span.red {
	color: red;
	font-size: 20px;
	vertical-align: bottom;
}

span.tel {
	font-size: 21px;
	line-height: 30px;
}

fieldset.contact {
	width: 460px;
	margin: 0 0 30px 0;
	padding: 15px 20px 15px 20px;
	background-color: #F4F4F4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

legend {
	font-size: 14px;
	color: #4D4D4D;
	margin: 0;
	padding: 0;
}

textarea, input {
	width: 450px;
	padding: 5px;
	margin: 0;
	font-size: 14px;
	color: #4D4D4D;
	border-top: solid 1px #808080;
	border-left: solid 1px #808080;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

label {
	font-size: 13px;
	margin: 0 5px 0 0;
	display: block;
	font-weight: bold;
}

input.button {
	font-size: 14px;
	padding: 3px;
	color: #FFF;
	background-color: #5E8CCC;
	width: 120px;
	border: none;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	cursor: pointer;
	height: 25px;
}

input.button:hover {
	background-color: #000;
}

label.side {
	display: inline;
}

input.check {
	width: 20px;
	border: none;
}


/*------------------------ footer layout----------------------*/

#footer-holder {
	width: 100%;
	background: url(../sitepix/structural/footer-bg.png) no-repeat top center;
	clear: both;
}

#footer {
	width: 960px;
	height: 170px;
	margin: 0 auto;
	position: relative;
}

#footer .logoone {
	position: absolute;
	top: 43px;
	right: 0;
}

#footer .logotwo {
	position: absolute;
	top: 43px;
	left: 445px;
}

#footer ul {
	margin: 53px 0 0 0;
	padding: 0;
	float: left;
}

#footer ul.second {
	margin: 5px 0 20px 0;
	padding: 0;
	float: left;
	clear:left;
}

#footer ul li {
	display: inline;
	float: left;
}

#footer ul li a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	margin: 0 15px 0 0;
}

#footer ul li a:hover {
	text-decoration: underline;
}

#footer p {
	clear: both;
	float: left;
	margin: 0;
}

#footer small {
	font-size: 12px;
	color: #000;
	white-space: nowrap;
}

#footer a {
	color: #000;
	text-decoration: none;
}

#footertags {
	font-size: 10px;
	text-align:center;
}

#footertags a{
	font-size: 10px;
	text-align:center;
	text-decoration:none;
	color: #000;
}
