<!DOCTYPE html>
<html lang="en">
<title>Maidsafe Foundation - Freedom for a Better World</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="layout.css" type="text/css" media="all" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Meet the Team</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Learning Centre</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Global Projects</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Realise Your Ideas</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Get Involved</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding:35px 16px">
  <h1 class="w3-margin w3-jumbo"><align=left>Welcome to the MaidSafe Foundation!</h1>
  <p class="w3-xlarge"></p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Contact Us</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Home</h1>
      <h5 class="w3-padding-20">We believe in freedom and facilitation for everybody to learn, to innovate and to contribute their unique talents to make our world a better place.</h5>

      <p class="w3-text-grey">We will develop free education where people can learn about the things that genuinely excite them at any stage in life.</p>
      <p class="w3-text-grey">We will help people set up a new business, social enterprise or any initiative they feel passionate about.</p>
      <p class="w3-text-grey">The MaidSafe Foundation will seek to collaborate with others to develop projects for a fairer and more balanced world.</p>
    </div>

    <div class="w3-third w3-center">
     <img src="C:\Users\Richard\Desktop\Website\Images\images\new ideas.png" alt="New Ideas" style="width:600px;height:384px;">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-25 w3-container">
  <div class="w3-content">

    <div class="w3-quarter w3-center w3-container">
      <img src="C:\Users\Richard\Desktop\Website\Images\images\fab-lab-home.jpg" alt="We work with organisations globally." style="width:100%;height:120px;">
    </div>

    <div class="w3-quarter w3 center w3-container">
      <img src="C:\Users\Richard\Desktop\Website\Images\images\solar-powered-house.jpg" alt="We work with organisations globally." style="width:100%;height:120px;">
          </div>

    <div class="w3-quarter w3-center w3-container">
            <img src="C:\Users\Richard\Desktop\Website\Images\images\a-better-world-home.jpg" alt="We aim to improve lives through STEM Education." style="width:100%;height:120px;">
    </div>
    
    <div class="w3-quarter w3-center w3-container">
           <img src="C:\Users\Richard\Desktop\Website\Images\images\realise-your-ideas.jpg" alt="Realise your ideas." style="width:100%;height:120px;">
    </div>
  </div>
</div>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    
 </div>
 <p>©2019 MaidSafe Foundation. All rights reserved. Reg charity number: SC042032</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
